@import "tailwindcss";

@font-face {
  font-family: FriendlySans;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/friendly-sans/FriendlySans-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: FriendlySans;
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/friendly-sans/FriendlySans-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Kaph;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/kaph/Kaph-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Kaph;
  font-style: italic;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/kaph/Kaph-Italic.woff2") format("woff2");
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@theme {
  --font-sans: "FriendlySans", sans-serif;
  --font-title: Kaph, sans-serif;
}

.home {
  background: url(./assets/backgrounds/Desert_free.gif) no-repeat center;
  background-size: cover;
}

.menu-button {
  background: url(./assets/icons/Icon_Menu.png);
}
